*.vo
*.vok
*.vos
*.glob
*.aux
*.abi.json
*.code
*.sol.ast
*.ast.json
*.ml
*.mli
*.native
translated*
ref*
trees*
trees/*
_build*
_tag
example*
full.ast
.vscode
history.txt
full.ast
.DS*
*.html
*.css
_tmp
io/
system/*
coq-json*