[submodule "io"]
   path = io/
   url = git@vcs.modus-ponens.com:ton/io.git
   branch = main
   ignore = dirty

[submodule "coq-json"]
   path = coq-json/
   url = git@vcs.modus-ponens.com:ton/coq-json.git
   branch = main
   ignore = dirty

[submodule "system"]
   path = system/
   url = git@vcs.modus-ponens.com:ton/system.git
   branch = main
   ignore = dirty